################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GettausBotti/bin/Debug/netcoreapp2.1/appsettings.json
/GettausBotti/bin/Debug/netcoreapp2.1
/GettausBotti/obj
/.vs/GettausBotti/v15
/GettausBotti/appsettings.json
